body {
  background-color: #000;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
a:active{
	color: #fff;
	text-decoration: none;
}
a:visited{
	color: #fff;
	text-decoration: none;
}
a:hover{
	color: #fff;
	text-decoration: none;
}
a { 
	color: #fff;
    text-decoration: none;
   } 
.fullpage-wrapper{
	opacity:0;
}
section {
  font-size: 35px;
  text-align: center;
  color: white;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
  opacity:0;
  overflow:hidden;
}

video {
    opacity:0;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
		}
.autoplay {
    display: none;
}
canvas {
    opacity:1;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
	
		}
.block{
position:absolute;
overflow: hidden;
height: 100%;
width: 100%;
z-index:1;
}

.wrapper {
  height: 200px;
  position: relative;
  z-index:1;
  opacity:0;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;

}

.lrg-logo {

	position:absolute; 
	top:200%;
	left:50%; margin-top:90px;
	margin-left:-150px; 
	width:300px;
	height:300px;
	text-align:center;
	font-family: 'Raleway', sans-serif; 
	color: #fff;
	font-size: 50px;

}

.sml-logo {
  width: 200px;
  height: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif; 
  font-size: 30px;
}


.logo {
  width: 300px;
  height: 60px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}
.text {
  height: 60px;
  color: #fff;
  padding-left: 0px;
  line-height: 60px;

  font-weight: 100;
  animation: fade 0.5s;
}

@keyframes fade {
  0% { opacity: 0; line-height: 50px;}
  65% { opacity: 0;line-height: 50px;}
  100% { opacity: 1;line-height: 60px;}
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(73, 73, 73, 0.77);
  }
 ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(101, 101, 101, 0.69);
  }


  
  
  
ul.buttons {
    bottom: 0%;
	position:absolute;
	z-index: 1;
}
  
.buttons {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  opacity:0;
  font-weight: bold;
}
.buttons * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.buttons li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.buttons a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.buttons a:before,
.buttons a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.buttons a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #c0392b;
  border-top: 3px solid #c0392b;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.buttons a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #c0392b;
  border-bottom: 3px solid #c0392b;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.buttons a:hover,
.buttons .current a {
  color: #ffffff;
}
.buttons a:hover:before,
.buttons .current a:before,
.buttons a:hover:after,
.buttons .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

.list {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 40px;
}
.list1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 20px;
}
.name{
	font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
}
.listz {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 20px;
	margin: 10px;
}

.bigname1{
	width: 174px;
    height: 174px;
    float: left;
    margin: 0 40px 15px 0;
    padding: 10px;	
}
.bigname2{
	width: 174px;
    height: 174px;
    float: left;
    margin: 0 40px 15px 0;
    padding: 10px;	
}

.bigname3{
	width: 174px;
    height: 174px;
    float: left;
    margin: 0 40px 15px 0;
    padding: 10px;
	
}

.noname{
	width: 174px;
    height: 174px;
    float: left;
    margin: 0 40px 15px 0;
    padding: 10px;
	
}
.wow.fadeInUp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
img{
	border-radius: 50%;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

